@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

div.iphone {
    width: 312px;
    height: 628px;
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

/*--------------------------------------------------*/

div.icones {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    position: absolute;
    right: 0;
}

div.icones > a > img {
    width: 60px;
    border-radius: 50%;
    margin: 10px;
}

a.img {
    width: 100px;
}

/*--------------------------------------------------*/

iframe {
    height: 480px;
    width: 265px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


